﻿@model dynamic

<script type="text/javascript" src="@Url.Content("~/signalr/hubs")"></script>

<h1>Flex-Hyper-SupportR-2000-o-Matic</h1>

<p style="font-size: 24px; margin-top: 20px; margin-bottom: 30px;">Your key is: <span style="font-weight: bold">@Model.Id</span></p>

<div id="image-holder" style="border: 1px solid #ccc; margin: 20px 0; text-align: center; background-color: #eee;">
    <div style="height: 200px; font-size: 24px; line-height: 200px; color: #999">No images yet.</div>
</div>

<script type="text/javascript">
    $(function() {
        var support = $.connection.support;

        support.updateImage = function(imgSrc) {
            changeImage(imgSrc);
        };

        $.connection.hub.start().done(function() {
            support.init('@Model.Id');
        });

        function changeImage(imgSrc) {
            $('<img>').attr('src', imgSrc)
                .css('display', 'none')
                .load(function() {
                    var img = this;
                    var existingImages = $('#image-holder img');
                    
                    if (existingImages.length > 0) {
                        existingImages.fadeOut(function() {
                            $('#image-holder').empty().append(img);
                            $(img).fadeIn();
                        });
                    } else {
                        $('#image-holder').empty().append(img);
                        $(img).fadeIn();
                    }
                });
        }
    });
</script>
