﻿@model SupportR.Mvc.Models.UploadImageModel

<h1>Upload test image</h1>

@using (Html.BeginForm("UploadImage", "Home", FormMethod.Post, new {enctype = "multipart/form-data" }))
{
    <div style="margin: 20px 0 30px 0">
        @Html.TextBoxFor(x => x.File, new { type = "file"}) 
        @Html.ValidationMessageFor(x => x.File)
    </div>
    
    <div class="well">
        <input type="submit" value="Upload image" />
    </div>
}