﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>SupportR</title>
    <link href="@Url.Content("~/Content/bootstrap/css/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.6.4.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.signalR-0.5.2.min.js")" type="text/javascript"></script>
</head>
    <body style="background-color: #ccc;">
        <div class="container">
            <div class="row">
                <div class="span12" style="background-color: #fff; padding: 20px 40px;">
                    @RenderBody()    
                </div>
            </div>
        </div>
    </body>
</html>
